<h1>A propos de ce site</h1>
<p>
  Ce site a été réalisé dans le cadre d'un projet étudiant. Il a pour but de proposer des recettes de cuisine simples et
  économiques pour les étudiants.
  <br/>
  Ce que vous voyez est la version 0 du site (work in progress). Nous vous invitons à revenir régulièrement pour voir les évolutions
  <br/>
  Nous reproduisons ici le cahier des charges du projet.
</p>
<h2>A – Le projet</h2>
<p>
  Concevoir des recettes de cuisine pour étudiants désargentés, filmer leur réalisation et les mettre à disposition
  gracieusement sur un site internet librement accessible
</p>
<h2>B - Contexte et motivation</h2>
<p>
  Les discussions quotidiennes avec des camarades ou des étudiants d’autres campus nous ont fait prendre conscience de
  la difficulté pour un(e) étudiant(e) de s’alimenter de manière variée et en même temps (très) économique. Certains
  décrivent ne manger que des pâtes et parfois pour varier du riz ! Un problème de flemme peut aussi exister ce projet
  ne cherchera pas à le régler.
  <br/>
  Les restaurants du CROUS peuvent faire partie de la solution mais en fonction des emplois du temps et de l’éloignement
  ce n’est pas toujours évidents. Les étudiants qui ne peuvent pas vivre chez leurs parents pour des raisons diverses
  personnelles sont généralement contraints de se débrouiller seul pour le repas du soir. Le coût de la location d’un
  logement étudiant n’étant pas négociable c’est malheureusement souvent la qualité de l’alimentation qui est sacrifiée.
  La sensibilisation à cette problématique nous a motivé à chercher modestement à apporter quelques solutions pratiques
  à travers ce projet personnel qui nous a paru être tout à fait en adéquation avec les valeurs lassaliennes.
</p>
<h2>C - L’organisation</h2>
<p>
  La réussite du projet nécessite d’acquérir des compétences diverses pour lesquelles nous choisirons au sein de
  l’équipe un référent : ligne éditoriale (s’assurer qu’il n’y a pas de dérive dans les choix de recettes par rapport à
  l’objectif), gestion de contenu (structure technique et mise en page), maquette site web, vidéo, écriture (pour avoir
  un style plaisant), correction orthographique, plateforme technique web, gestion de projet.
</p>
<h2>D - Stratégie globale</h2>
<p>
  Nous chercherons à bien découper les tâches et à équilibrer la charge sur chaque membre de l’équipe en ayant à la fois
  une planification rigoureuse pour être bien conscient du chemin critique et en travaillant en mode agile pour la
  réalisation. La parallélisation sera un élément clef pour la réussite du projet.
</p>
<h2>E – Objectifs et plan d’action</h2>
<ul>
  <li>
    <h3>
      <strong>Objectif 1</strong> : trouver et rédiger 10 recettes économiques
    </h3>
    <p>
      Chaque membre de l’équipe projet commencera par chercher des recettes accessibles en termes d’ingrédients,
      techniquement (une recette où il faudrait beaucoup d’ustensiles ne répondrait pas aux critères de recette
      économique). Nous ne contraindrons cependant pas trop non plus car donner le goût de bien manger fait partie du
      projet. Il faudra éventuellement faire des choix de simplifications. L’idée d’impliquer chaque membre sur cette
      première étape est d’éviter d’avoir une réponse univoque en termes de goûts personnels
    </p>
  </li>
  <li>
    <h3>
      <strong>Objectif 2</strong> : choisir une plateforme technique web pour accueillir et gérer le contenu
    </h3>
    <p>
      La question du choix de la solution pour accueillir et gérer le contenu est importante pour deux raisons : si on
      fait un mauvais choix cela peut compromettre l’intérêt final d’un utilisateur du site ; mais aussi nous sommes des
      étudiants Informatique et Réseaux et choisir une solution où « il n’y a rien à faire » en terme technique serait
      une perte d’opportunité d’apprendre.
    </p>
  </li>
  <li>
    <h3>
      <strong>Objectif 3</strong> : réaliser une maquette du site
    </h3>
    <p>
      Il faudra que le site soit attractif et ergonomique pour donner envie. La photo ne sera pas contractuelle mais
      utile.
    </p>
  </li>
  <li>
    <h3>
      <strong>Objectif 4</strong> : tester une à une les recettes
    </h3>
    <p>
      Il faudra ici :
    <ul>
      <li> Mettre en œuvre chaque recette en la testant plusieurs fois sans doute, mettre à jour le mode opératoire
        (deuxième
        partie de la recette après la liste d’ingrédients)
      </li>
      <li>Prendre les photos illustratives</li>
      <li>Réaliser la vidéo</li>
      <li>Rédiger la version finale de la recette</li>
    </ul>
    </p>
  </li>
  <li>
    <h3>
      <strong>Objectif 5</strong> : intégrer et déployer
    </h3>
    <p>
      Il s’agira ici de finaliser le projet et rendre le site internet accessible au monde.
    </p>
  </li>
</ul>
<h2>F – Les moyens nécessaires</h2>
<h3>Techniques</h3>
<ul>
  <li>Appareil photo, caméra vidéo (iphone peut-être), éclairage</li>
  <li>Une cuisine pour réaliser les recettes</li>
  <li>Les ingrédients</li>
  <li>Ordinateur avec logiciels pour création du site en fonction de la plateforme technique choisie, pour monter les vidéos et pour éditer les photos</li>
</ul>
<h3>Financiers</h3>
<ul>
  <li>Achat des ingrédients</li>
  <li>Achat d’un nom de domaine</li>
  <li>Achat d’un hébergement internet</li>
  <li>Location des moyens techniques que nous n’aurons pas sus nous faire prêter</li>
</ul>


