<div class="nutrition-info">
  <h3>Informations nutritionnelles</h3>
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>Information</th>
        <th>Quantité</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Calories (cal)</td>
        <td><%= recette.calories %></td>
      </tr>
      <tr>
        <td>Glucides (g)</td>
        <td><%= recette.glucides %>g</td>
      </tr>
      <tr>
        <td>Lipides (g)</td>
        <td><%= recette.lipides %>g</td>
      </tr>
      <tr>
        <td>Protéines (g)</td>
        <td><%= recette.proteines %>g</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
